name: Deploy
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  build_and_validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            containers/validate/.build/artifacts
            containers/validate/.build/checkouts
            containers/validate/.build/repositories
          key: ${{ runner.os }}-swift-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-swift-
            ${{ runner.os }}-
      - name: build yml
        run: docker compose run --rm build
      - name: validate yml
        run: docker compose run --rm validate
      - name: upload artifact
        uses: actions/upload-artifact@v7
        with:
          name: public
          path: public
  deploy:
    needs: build_and_validate
    runs-on: ubuntu-latest
    env:
      GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
    steps:
    - uses: actions/checkout@v6
    - name: Decode credentials
      env:
        GCLOUD_SERVICE_KEY: ${{ secrets.GCLOUD_SERVICE_KEY }}
      run: echo $GCLOUD_SERVICE_KEY | base64 -d > $GOOGLE_APPLICATION_CREDENTIALS
    - name: download artifact
      uses: actions/download-artifact@v8
      with:
        name: public
        path: public
    - name: Set up firebase-tools
      run: npm install -g firebase-tools
    - name: Validate contents
      if: github.ref != 'refs/heads/main'
      run: |
        git status --ignored
        ls -Rl .
    - name: Deploy to Firebase
      if: github.ref == 'refs/heads/main'
      run: firebase deploy --only hosting
    - name: Cleanup
      run: rm $GOOGLE_APPLICATION_CREDENTIALS
